.cards{
    max-width: var(--body-max-width);
    margin: auto;
    display: flex;
    gap: 10px;
}
.card{
    border: 1px solid var(--Gray-extra-light)
}
.cardContent{
    padding: 16px;
}
.cardImage{
    width: 100%;
}
.contentTitle{
    margin-top: 0px;
    margin-bottom: 12px;
}
.cardText{
    margin-bottom: 12px;
}
