@import url(./variables.css);
body{
        margin: 0;
        font-family: var(--bodyFont);
}
.topNav{
    display: flex;
    background-color: var(--light);
}
nav a{
    text-decoration: none;
    color: var(--darkblue);
    padding: 20px;
}

nav a:hover{
    color: var(--darkblue);
 }