/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --light: #F3E9DC; 
    --darkblue: #0B0622;
    --primaryblue: #444B6E;
    --extralight: #FAF7F1; 


        /* font */
        --bodyFont:'Montserrat', sans-serif;
        --h1-fontSize: 3rem;
        --h2-fontSize: 3rem;
        --h3-fontSize: 3rem;
        --h4-fontSize: 2.125rem;
        --h5-fontSize: 1.5rem;
        --button-font: 0.875rem;
        --body-small-fontSize: 0.875rem;
    
        --body-max-width: 1320px;
    
}


